{{extend 'layout.html'}}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>

<h1 color="blue"> UCSC Course Finder </h1>
<body id=top_id class="body">
{{=form}}

<hr />
{{if results is not None:}}
{{for result in results:}}
<div class="one" id="command" onclick="jQuery('#{{=result.id}}').slideToggle()">
<p>{{=result.course}}</p>
<p>{{=result.instructor}}</p>
<p>
{{if(result.m):}} M {{pass}}
{{if(result.tu):}} Tu {{pass}}
{{if(result.w):}} W {{pass}}
{{if(result.th):}} Th {{pass}}
{{if(result.fr):}} F {{pass}}
</p>
<p>{{=result.meeting_times}}</p>
</div>
<div class="two" style="display:none" id="{{=result.id}}">
<p>{{=result.info}}</p>
<p>Units: {{=result.units}}</p>
</div>
<hr />
{{pass}}
{{pass}}
</body>

<h3> Find Directions </h3>
    <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="2" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12747.08625071051!2d-122.0608718!3d36.9913856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a8e3b7c928320d5!2sUniversity+of+California%2C+Santa+Cruz!5e0!3m2!1sen!2sus!4v1457313553313" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br />
    <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
    </section>


<a href="#" class ='back-to-top'>Back to Top</a>


<style>
a.back-to-top{
    display: inline-block;
    width:48px;
    height:48px;
    position:fixed;
    bottom:40px;
    right:40px;
    background: url('http://127.0.0.1:8000/coursefinder/static/_2.13.4/images/up.png') no-repeat center 43%;
    text-indent:-9999px;
    border-radius:30px;
}
    
a:hover.back-to-top{
    background-color:#000;
</style>

