{{extend 'layout.html'}}
<h1> UCSC Course Finder </h1>
{{=form}}

<hr />
{{if results is not None:}}
{{for result in results:}}
<div class="one" id="command" onclick="jQuery('#{{=result.id}}').slideToggle()">
<p>{{=result.course}}</p>
<p>{{=result.instructor}}</p>
<p>
{{if(result.m):}} M {{pass}}
{{if(result.tu):}} Tu {{pass}}
{{if(result.w):}} W {{pass}}
{{if(result.th):}} Th {{pass}}
{{if(result.fr):}} F {{pass}}
</p>
<p>{{=result.meeting_times}}</p>
</div>
<div class="two" style="display:none" id="{{=result.id}}">
<p>{{=result.info}}</p>
<p>Units: {{=result.units}}</p>
</div>
<hr />
{{pass}}
{{pass}}
