{{extend 'layout.html'}}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>

{{=form}}

<form><input type="hidden" id="id" name="id" value="" /></form>

<hr />
{{if results is not None:}}
{{for result in results:}}

<div class="one" id="command" onclick="jQuery('#{{=result.id}}').slideToggle()">
<p>{{=result.course}}</p>
<p>{{=result.instructor}}</p>
<p>
{{if(result.m):}} M {{pass}}
{{if(result.tu):}} Tu {{pass}}
{{if(result.w):}} W {{pass}}
{{if(result.th):}} Th {{pass}}
{{if(result.fr):}} F {{pass}}
</p>
</div>
<div class="two" style="display:none" id="{{=result.id}}">
<p>{{=result.info}}</p>
<p>{{=result.meeting_times}}</p>
<p>Units: {{=result.units}}</p>
<p>Prerequisite(s): {{=result.prerequisite}}</p>
<p>Classroom: {{=result.classroom_no}}</p>

<span onclick="jQuery('#id').val('{{=result.id}}');
       ajax('{{=URL('default', 'save_course')}}', ['id'], 'item{{=result.id}}');"
       ><button type="button" class="btn btn-secondary btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">
       <div id="item{{=result.id}}">Save</div>
       </button>
</span> 

<!--

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>

    <div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB69zJivNkMdxdbY1FNGYfZNVSs4QQjkpw	
		
        &libraries=visualization&callback=initMap">
    </script>
    <script src="map.js"> </script> -->


</div>
<hr />
{{pass}}
{{pass}}



<a href="#" class ='back-to-top'>Back to Top</a>

<script type="text/javascript">
var amountScrolled = 200;

$(window).scroll(function() {
  if ( $(window).scrollTop() > amountScrolled ) {
    $('a.back-to-top').fadeIn('slow');
  } else {
    $('a.back-to-top').fadeOut('slow');
  }
});

$('a.back-to-top').click(function() {
  $('html, body').animate({
    scrollTop: 0
  }, 700);
  return false;
});
</script>

<style>
a.back-to-top{
    display: none;
    width:48px;
    height:48px;
    position:fixed;
    bottom:30px;
    right:15px;
    background: url('http://169.233.243.185:8000/coursefinder/static/_2.13.4/images/up.png') no-repeat center 43%;
    text-indent:-9999px;
    border-radius:30px;
}
    
a:hover.back-to-top{
    background-color:#000;
</style>
