{{extend 'layout.html'}}

<aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <a href="http://127.0.0.1:8000/coursefinder/default/index" class="btn btn-lg btn-light">Go back</a>
                </div>
            </div>
        </div>
    </aside>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2><font color="white">Email</font></h2></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <a href="mailto:izentner@ucsc.edu" class="btn btn-lg btn-light"><font color="yellow">Ian</font></a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <a href="mailto:umceylan@ucsc.edu" class="btn btn-lg btn-light"><font color="yellow">Joe</font></a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <a href="mailto:jewing@ucsc.edu" class="btn btn-lg btn-light"><font color="yellow">Justin</font></a>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <a href="http://127.0.0.1:8000/coursefinder/default/index" class="btn btn-lg btn-light"><font color="yellow">Umit</font></a>
                </div>
            </div>
        </div>

{{=BEAUTIFY(response._vars)}}
